
.landing {

  .landing-header {
    position: absolute;
    z-index: 2;
    width: 99%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #fff;
    font-family: "Bitstream Vera Sans", "Roboto Light", sans-serif;

    span {
      font-size: small;
      border: 2pt solid #fff;
      padding: 4pt;
      border-radius: 1rem;
      margin: 8pt;
    }
  }

  .landing-header span:hover {
    cursor: pointer;
  }

  app-info-card {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    background-color: #4d92d5;
    color: #fff;
  }
}


