<div class="social-icons">
  <div><a href="https://github.com/dwennemar"><fa-icon [icon]="github"></fa-icon>&thinsp;GitHub</a></div>
  <div><a href="https://gitlab.com/dwennemar"><fa-icon [icon]="gitlab"></fa-icon>&thinsp;GitLab</a></div>
  <div><a href="https://www.linkedin.com/in/dwennemar"><fa-icon [icon]="linkedin"></fa-icon>&thinsp;LinkedIn</a></div>
  <div><a href="https://www.xing.com/profile/Daniel_Wennemar"><fa-icon [icon]="xing"></fa-icon>&thinsp;Xing</a></div>
  <div><a href="https://dev.to/dawed"><fa-icon [icon]="dev"></fa-icon>&thinsp;DEV</a></div>
  <div><a href="https://medium.com/@dawed"><fa-icon [icon]="medium"></fa-icon>&thinsp;medium</a></div>
</div>
